{% extends "base.html" %}

{% block title %}MiniWiki{% endblock %}


{% block content %}
{% load static %}

<section class="container my-5">
  <h2 class="mb-4 fw-bold" style="text-align: center;">Maqolalar bo'limi</h2>
  <div class="search-bar">
  <input type="text" placeholder="Qidirish...">
  <button><i class="fas fa-search"></i></button>
</div>


  <!-- Filter -->
  <div class="filter-bar">
    <a href="?category=all" class="filter-btn active">Barchasi</a>

    {% for category in categories %}
    <a href="?category={{category.name}}" class="filter-btn">{{category.name}}</a>
    {% endfor %}
  </div>

  <!-- Articles -->
  <div class="row g-4">
    <!-- Article cards (6 example cards) -->
    {% for article in articles %}
    <div class="col-md-4 d-flex">
      <div class="card article-card w-100">
        <img src="{{article.image.url}}" alt="&nbsp; &nbsp;&nbsp;{{article.category}}">
        <div class="card-body">
          <div>
            <span class="badge-category mb-2">{{article.category}}</span>
            <h4>{{ article.title }}</h4>
            <p>{{ article.info}}</p>
          </div>
          <a href="{%  url 'detail' article.id %}" class="text-primary fw-bold mt-3">Batafsil →</a>
        </div>
      </div>
    </div>

    {% endfor %}
    <!-- Shu tarzda boshqa 5 ta maqola kartalari ham bir xil o'lchamda qo‘shilishi mumkin -->
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="?page=1">«</a></li>
      <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">»</a></li>
    </ul>
  </nav>
</section>


{% endblock %}