{% extends "base.html" %}

{% block title %}MiniWiki{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<section class="hero">
  <div class="container" style="height: 10px; margin-top: -65px;">
    <h1 style="font-size: 50px;">MiniWiki <img  style="width: 95px; height: 95px; color: white;"  class="icons" src="{% static 'images/wiki.png' %}" alt=""></h1>
    <p>Bilimlarni tez va chiroyli toping, zamonaviy maqolalarni o‘rganing</p>
  </div>
</section>

<div class="search-bar">
  <input type="text" placeholder="Qidirish...">
  <button><i class="fas fa-search"></i></button>
</div>

<section class="container" id="articles">
  <h3 class="mb-4 fw-bold">  So‘nggi maqolalar</h3>
  <div class="row g-4">
    {% for art in articles %}

    <div class="col-md-4">
      <div class="card article-card">
        <img src="{{ art.image.url }}" alt=" &nbsp; &nbsp;{{art.category}}" >
        <div class="card-body">
          <span class="badge-category">{{ art.category.name}}</span>
          <h4>{{art.title}}</h4>
          <p>{{ art.info }}</p>
          <a href="{% url 'detail' art.id %}" class="text-primary fw-bold">Batafsil →</a>
        </div>
      </div>
    </div>
    {% endfor %}


 
  </div>
</section>
{% endblock %}