{% extends "base.html" %}

{% block title %}MiniWiki{% endblock %}


{% block content %}
<section class="hero">
  <div class="container">
    <h1>MiniWiki</h1>
    <p>Bilimlarni tez va chiroyli toping, zamonaviy maqolalarni o‘rganing</p>
  </div>
</section>

<div class="search-bar">
  <input type="text" placeholder="Qidirish...">
  <button><i class="fas fa-search"></i></button>
</div>

<section class="container" id="articles">
  <h3 class="mb-4 fw-bold">So‘nggi maqolalar</h3>
  <div class="row g-4">
    {% for art in articles %}

    <div class="col-md-4">
      <div class="card article-card">
        <img src="{{ art.image.url }}" alt="AI" >
        <div class="card-body">
          <span class="badge-category">{{ art.category.name}}</span>
          <h4>{{art.title}}</h4>
          <p>{{ art.info }}</p>
          <a href="{% url 'detail' art.id %}" class="text-primary fw-bold">Batafsil →</a>
        </div>
      </div>
    </div>
    {% endfor %}


 
  </div>
</section>
{% endblock %}